@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-edwardian: "Edwardian Script ITC";
}

/* Font-face */
@font-face {
  font-family: "Edwardian Script ITC";
  src: url("/fonts/edwardianscriptitc.ttf");
  /* remove /public */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom keyframes */
@keyframes zoom-in {
  0% {
    transform: translateZ(-1000px);
    opacity: 0;
    filter: blur(5px);
  }

  50% {
    transform: translateZ(1000px);
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    transform: translateZ(0);
    opacity: 0;
    filter: blur(5px);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-zoom-in {
  animation:
    zoom-in 5s
}